
.head{
    width: 95vw;
    height:5vh;
    margin: 1vw 1vw 1vw 1vw;
    padding: 1vw 1vw 1vw 1vw;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  }
  
  .headFont{
    font-size: 36px;
    color: #343a40;
    margin: 10px 10px 10px 10px;
  }
  
  .Job-Template{
    width: 45vw;
    height: 20vh;
    margin: 1vw 1vw 1vw 1vw;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  }
  
  .jobItem{
  
    display: flex;
    flex-direction: column;
  }
  
  .jobItemTitle{
  
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
    color: #343a40;
  }
  
  .jobItemTitle > button{
    background: none;
    outline: none;
    border: none;
    color: #20c997;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
  }
  button{
    background: none;
    outline: none;
    border: none;
    color: #20c997;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
  }
  
  .jobItemItem{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    color: #343a40;
  }
  
  .jobItemItem > div > input{
    background: none;
    outline: none;
    border: none;
  }
  
  .Schedule-Template{
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 85vh;
  }
  .Schedule-addButton{
    background: #20c997;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ScheduleLeft{
    width: 47vw;
    height: 80vh;
    margin-left: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  }

  .Calander{
    z-index: 970;
  }
  .ScheduleBackground {
    position: absolute;
    z-index: 980;
    overflow: hidden;
    width: 47vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  }
  
  .ScheduleInsertForm {
    position: absolute;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 15vw;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #20c997;
  
    background: white;
  }
  
  .ScheduleRight{
    display: flex;
    flex-direction: column;
    width: 49vw;
    height: 80vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  }
  
  .Static-Template{
    width: 45vw;
    height: 50vh;
    margin: 10px 10px 10px 10px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  }
