.body2{

    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 85vh;
}


input.underline {
    border-left-width: 0;
    border-right-width :0;
    border-top-width:0;
    border-bottom-width:1;
    }
