.background {
    position: absolute;
    z-index: 980;
    top: 0;
    overflow: hidden;
    width: 512px;
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  }
  
  .TodoInsertForm {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #20c997;
  
    background: white;
  }
  .Insert{
    z-index: 990;
  }
   .TodoInsertForm >.Insert> input {
    z-index: 990;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid#20c997;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  
  form >.Insert> button {
    z-index: 990;
    margin-top: 1vh;
    padding-left: 1vw;
    background: none;
    outline: none;
    border: none;
    color: #20c997;

    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
  }
  
  .TodoInsertForm >.Insert> .rewrite > svg {
    z-index: 990;
    padding-top: 20px;
    color: #20c997;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
